<!-- About -->
    <section id="about" class="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>About</h2>
                    <p class="lead">I have always loved problem solving activities and have had a great fascination with technology, so it was almost natural for me to be drawn to programming. Since beginning the Bootcamp at UCLA, I have found great enjoyment from solving the problems in our assignments and developed an appetite for new and better ways to code. </p>
                </div>
            </div>
        </div>
    </section>

    <!-- Services -->
    <!-- The circle icons use Font Awesome's stacked icon classes. For more information, visit http://fontawesome.io/examples/ -->
    <section id="services" class="services bg-primary">
        <div class="container">
            <div class="row text-center">
                <div class="col-lg-10 col-lg-offset-1">
                    <h2>Skills and Knowledge</h2>
                    <hr class="small">
                    <div class="row">
                        <div class="col-md-3 col-sm-6">
                            <div class="service-item">
                                <span class="fa-stack fa-4x">
                                <i class="fa fa-circle fa-stack-2x"></i>
                                <i class="fa fa-laptop fa-stack-1x text-primary"></i>
                            </span>
                                <h4>
                                    <strong>Javascript</strong>
                                </h4>
                                <p>One of the core pieces in web development and the most popular language across the web. Simple and flexible, yet functional and vast in its capability.</p>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-6">
                            <div class="service-item">
                                <span class="fa-stack fa-4x">
                                <i class="fa fa-circle fa-stack-2x"></i>
                                <i class="fa fa-code fa-stack-1x text-primary"></i>
                            </span>
                                <h4>
                                    <strong>HTML CSS</strong>
                                </h4>
                                <p>The other core pieces that make up the trinity of web development. Necessary for web aesthetics.</p>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-6">
                            <div class="service-item">
                                <span class="fa-stack fa-4x">
                                <i class="fa fa-circle fa-stack-2x"></i>
                                <i class="fa fa-database fa-stack-1x text-primary"></i>
                            </span>
                                <h4>
                                    <strong>Databases</strong>
                                </h4>
                                <p>Storage, queries, and schemas for data. Also known as the back end of web development.</p>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-6">
                            <div class="service-item">
                                <span class="fa-stack fa-4x">
                                <i class="fa fa-circle fa-stack-2x"></i>
                                <i class="fa fa-code-fork fa-stack-1x text-primary"></i>
                            </span>
                                <h4>
                                    <strong>Web Development</strong>
                                </h4>
                                <p>The "Full Stack" implementation of all skills needed to develop a functioning site or application. Various types of architectures.</p>
                            </div>
                        </div>
                    </div>
                    <!-- /.row (nested) -->
                </div>
                <!-- /.col-lg-10 -->
            </div>
            <!-- /.row -->
        </div>
        <!-- /.container -->
    </section>