    <!-- Call to Action -->
    <aside  id="contact" class="call-to-action bg-primary">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-lg-offset-3 text-center">
                    <h3>Contact</h3>
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="Name">
                        <br>
                        <input type="text" class="form-control" placeholder="Email">
                        <br>
                        <input type="text" class="form-control" placeholder="Subject">
                        <br>
                        <textarea class="form-control" rows="5" placeholder="Message"></textarea>
                        <button class="btn btn-lg btn-dark">Submit</button>
                    </div>    
                </div>
            </div>
        </div>
    </aside>