    <!-- Header -->
    <header id="top" class="header">
        <div class="text-vertical-center">
            <h1>Allan Salandanan</h1>
            <h3>Full Stack Developer</h3>
            <br>
            <a href="#about" class="btn btn-dark btn-lg">About</a>
        </div>
    </header>

    {{> about }}

    <!-- Callout -->
    <aside class="callout">
        <div class="text-vertical-center">
            <h1>Attention to Detail</h1>
        </div>
    </aside>

    {{> portfolio }}

    {{> contact }}